@mixin font-size($size) {
  font-size: rem($size);
}

@mixin valign($value: top) {
  display: inline-block;
  vertical-align: $value;
}

@mixin fontname($style: regular) {
    @if $style == regular {
        font-family: '';
    }

    @if $style == medium {
        font-family: '';
    }

    @if $style == bold {
        font-family: '';
    }
    @if $style == light {
        font-family: '';
    }
}

@mixin desktop {
	@media screen and (max-width: 1200px) {
		@content;
	}
}

@mixin laptop {
	@media screen and (max-width: 992px) {
		@content;
	}
}

@mixin tablets {
	@media screen and (max-width: 768px) {
		@content;
	}
}

@mixin phones {
	@media screen and (max-width: 480px) {
		@content;
	}
}

//float-clean
%clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
