@font-face {
    font-family: 'als_malinaregular';
    src: url('malina-webfont.woff2') format('woff2'),
         url('malina-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}